.wrapCarouselCard {
  background-color: var(--clr-color-card-BG);
  max-width: 350px;
}
.carosuel-section {
  padding: 4rem;
}

.carouselCard {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  gap: 1.25rem;
}

.wrapImg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 100%;
  padding: 60px;
}

.imgCarouselCard {
  width: 180px;
  transition: transform 0.2s;
  object-fit: contain;
}

.imgCarouselCard:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.titleCarouselCard {
  align-self: flex-start;
  font-size: 16px;
  align-self: flex-start;
}

.titleCarouselCard:hover {
  cursor: pointer;
  color: rgb(7, 7, 114);
}

.priceCarouselCard {
  font-size: 22px;
}

.infoCardCarousel {
  border-top: 1px solid grey;
  padding-top: 0.5rem;
}
