.componentCards{
    display: flex;
    flex-direction: row;
    gap: 15px;
    flex-wrap: wrap;
    margin-top: 100px;
   
}

.sortOrderSelect{
    width: 150px;
    margin-bottom: 10px;
}

.cardWrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 100px;
    gap:8px
}