.btn {
  font-family: inherit;
  position: relative;
  overflow: hidden;
  border: 1px solid var(--clr-purple);
  transition: color 0.5s;
  z-index: 1;
  font-size: 18px;
  border-radius: 6px;
  font-weight: 500;
  color: var(--clr-purple);
  width: 100%;
}

.btn:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--clr-purple);
  height: 110px;
  width: 390px;
  top: 100%;
  left: 100%;
  transition: all 0.7s;
  border-radius: 50%;
}

.btn:hover {
  color: var(--clr-white) !important;
  border: 1px solid var(--clr-purple);
}

.btn:hover:before {
  color: var(--clr-white);
  top: -30px;
  left: -30px;
}


/* Purple Background */
.btn-purple {
  border: 1px solid var(--clr-white);
  color: var(--clr-white);
}

.btn-purple:before {
  background: var(--clr-white);
}

.btn-purple:hover {
  color: var(--clr-purple) !important;
  border: 1px solid var(--clr-white);
}

.btn-purple:hover:before {
  color: var(--clr-white);
  top: -30px;
  left: -30px;
}