
/* chat.jsx */
.Chat {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #A333FF;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
  }
  /* Conversations.jsx */

.conversations-container {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0 auto;
    background: #A333FF;
    
  }
  
  .messages-container {
    max-height: 800px;
    overflow-y: auto;
    padding: 30px;
  }
  
  .builder-input-form {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: white;
    margin: auto;
  }
 /* input form.jsx */
  .builder-input-field {
    width: 90%;
    outline: none;
    padding: 20px;
    border: none;
  }
  
  .builder-submit-button {
    width: 10%;
    outline: none;
    padding: 20px;
    border: none;
    background: #A333FF;
    color: white;
    font-weight: bold;
    cursor: pointer;
    
  }

  /* chat bubble.jsx */
  .builder-bubble-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  
  .builder-bubble-content {
    width: fit-content;
    max-width: 600px;
    padding: 10px;
    border-radius: 10px;
    margin: 14px;
    font-weight: 400;
    white-space: pre-line;
  }
  
  .builder-human .builder-bubble-content {
    background: darkblue;
    color: white;
  }
  
  .builder-ai .builder-bubble-content {
    background: white;
    color: black; 
  }