.hero-section {
  padding: 12rem 0 5rem;
}

.hero-box {
  max-width: 500px;
  margin: 0 auto;
}

/* Hero-Left */
.hero-left {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 1.75rem;
}

.hero-left h1 {
  font-size: 2.2rem;
}
.hero-left p {
  font-size: 1.2rem;
  line-height: 150%;
  font-weight: 300;
}

.hero-left .btns-box {
  display: flex;
  gap: 1rem;
}

.hero-left .btns-box button {
  font-size: 1rem;
}

/* Hero-Right */
.hero-right {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
}
.hero-right img {
  max-width: 100%;
}

@media screen and (min-width: 768px) {
  .hero-left h1 {
    font-size: 40px;
  }
}

@media screen and (min-width: 800px) {
  .hero-box {
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 6rem;
  }

  .hero-left {
    text-align: left;
    align-items: flex-start;
  }

  .hero-left .btns-box {
    gap: 1.5rem;
  }

  .hero-right {
    display: block;
    margin: auto;
  }
}
