.btn {
  padding: 0.5rem 0.8rem;
  border: 1.5px solid var(--clr-purple);
  font-weight: bold;
  border-radius: 0 !important;
}

.light {
  background-color: transparent;
  color: var(--clr-purple);
}

.light:hover {
  background-color: var(--clr-purple);
  color: var(--clr-white);
}

.dark {
  background-color: var(--clr-purple);
  color: var(--clr-white);
}

.dark:hover {
  background-color: var(--clr-white);
  color: var(--clr-purple);
}

.btn-purple {
  background-color: var(--clr-purple);
  color: var(--clr-white);
  border: 1.5px solid var(--clr-white) !important;
}

.btn-purple:hover {
  background-color: var(--clr-white);
  color: var(--clr-purple);
  border: 1.5px solid var(--clr-white) !important;
}
