
.builder{
    display: flex;
    flex-direction: column;
    width: 700px
   
  }
  .selection-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    
  }
  .selected-details{
    border: 1px solid #000000;
    padding: 10px;
    margin-left: 10px;
    display: flex;
    flex-direction: row;
  }