.carousel {
  position: relative;
}

.carousel-container {
  display: flex;
  overflow: hidden;
}

.carousel-item {
  width: 100%;
  transition: transform 0.5s ease-in-out;
}

.carousel button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.carousel-indicators {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.indicator {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border-radius: 50%;
  background-color: #bbb;
}

.indicator.active {
  background-color: #333;
}
