.boxDetails{
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   gap: 20px;
   align-items: center;
   width: fit-content;
   height: fit-content;
   padding-bottom: 3rem;
}

.imageComponent {
   max-width: 350px;
   min-width: 235px;
}

.detailsComponent{
   display: flex;
   flex-direction: column;
   align-self: flex-start;
   padding-top: 20px;
   
}

.typeComponent{
   padding-bottom: 3rem;
   color: #004170;
   font-weight: bold;
}

.descriptionComponent{
   max-width: 400px;
   letter-spacing: 1px;
   color: rgb(83, 83, 83);
   padding-top: 20px;
}

.detailsButton{
   display: flex;
   gap: 20px;
   margin-top: 3rem;
}

.infoCompontent{
   color:rgb(83, 83, 83);

}

.priceComponent{
   color:rgb(83, 83, 83);
}

.prevPageProducts{
   background:none;
   border: none;
  
}

.prevPageProducts .imgButtonPrev {
   width: 70px;
   height: 70px;
   transition: transform .3s; 
}


.prevPageProducts .imgButtonPrev:hover{
   transform: scale(1.3);
}
.titleComponent{
   font-weight: bold;
}
.component-details-suggestion{
   display: flex;
   justify-content: center;
}
@media screen and (max-width: 840px) {
   .boxDetails{
      display: flex;
      flex-direction: column;
           
   }
   .detailsComponent{
      display: flex;
      flex-direction: column;
      align-self: center;
      
   }
   .imageComponent {
      max-width: 80%;
   }
 }@media screen and (max-width: 840px) {
   .boxDetails{
      display: flex;
      flex-direction: column;
           
   }
   .detailsComponent{
      display: flex;
      flex-direction: column;
      align-self: center;
      
   }
   .imageComponent {
      max-width: 80%;
   }
 }