.exclusive-build {
  background-color: var(--clr-purple);
  color: white;
}

.exclusive-build-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.container-sx {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.container-sx .price {
  display: none;
}

.build-list p {
  line-height: 170%;
}

.price {
  padding: 20px 0;
  font-size: 30px;
}

.container-center {
  display: none;
}

.info-card {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 1rem;
}

.info img {
  height: 2.5rem;
  width: 2.5rem;
}

.info p {
  padding: 5px 0;
}

/* Media */
@media screen and (min-width: 768px) {
  .exclusive-build-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
  }

  .container-sx-pc {
    display: none;
  }

  .container-sx .price {
    display: block;
  }

  .container-center {
    display: block;
    margin: 0 auto;
  }

  .info-price {
    display: none;
  }
}
