.faq-container {
  text-align: center;
}

.faq-container h2 {
  margin-bottom: 3rem;
  font-size: 2.25rem;
}

.faq-cards-box {
  max-width: 90%;
  margin: auto;
}

.faq-card {
  border-bottom: 1px solid var(--clr-purple);
}

.faq-card > div {
  background-color: none !important;
  border: none !important;
  box-shadow: none !important;
  padding: .6rem 0;
  text-align: left;
}

@media screen and (min-width: 768px) {
  .faq-cards-box {
    max-width: 70%;
  }
}