footer {
  display: flex;
  justify-content: center;
  background-color: var(--clr-purple);
  padding: 2.5rem 0 2rem;
}

/* Footer Text Box */
.footer-text-box {
  margin-bottom: 2rem;
}
.footer-text-box .logo {
  margin-bottom: 1.25rem;
}

.footer-text-box p {
  line-height: 150%;
  font-size: 1.1rem;
}

.footer-text-box .logo h3 span {
  color: var(--clr-black);
  font-weight: 700;
}

/* Footer Info Box */
.footer-links-nav a,
.footer-contact,
.footer-social-box img {
  margin-bottom: 0.5rem;
}

.footer-info-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.25rem;
}

.footer-info-card {
  display: flex;
  flex-direction: column;
}
.footer-info-card h3 {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}

.footer-contact {
  display: flex;
  align-items: center;
}
.footer-contact img {
  height: 1.75rem;
  margin-right: 0.75rem;
}

/* Social */
.social-icon-box img {
  height: 2.2rem;
  margin-right: auto;
}

/* Copyright */
.copyright {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  letter-spacing: 0.3px;
  text-align: center;
  margin-top: 3.5rem;
}

@media screen and (min-width: 768px) {
  footer {
    padding: 2.5rem 0 2rem;
  }
  /* Footer Content Box */
  .footer-content-box {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 4rem;
  }

  /* Footer Info Box */
  .footer-info-box {
    display: flex;
    justify-content: space-between;
  }

  /* Social */
  .social-icon-box {
    display: flex;
    flex-direction: column;
  }

  /* Copyright */
  .copyright {
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }
}

@media screen and (min-width: 1100px) {
  /* Footer Content Box */
  .footer-content-box {
    gap: 9rem;
  }
}
