footer {
  display: flex;
  justify-content: center;
  background-color: var(--clr-purple);
  padding: 2.5rem 0 2rem;
}

/* Footer Content Box */
.footer-content-box {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 9rem;
}

/* Footer Text Box */
.footer-text-box .logo {
  margin-bottom: 2rem;
}

.footer-text-box p {
  line-height: 150%;
  font-size: 1.1rem;
}

.footer-text-box .logo h3 span {
  color: var(--clr-black);  
  font-weight: 700;
}

/* Footer Info Box */
.footer-links-nav a, .footer-contact, .footer-social-box img {
  margin-bottom: .5rem;
}

.footer-info-box {
  display: flex;
  justify-content: space-between;
  margin-top: 0.3rem;
}

.footer-info-card {
  display: flex;
  flex-direction: column;
}
.footer-info-card h3 {
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

.footer-contact {
  display: flex;
  align-items: center;
}
.footer-contact img {
  height: 1.75rem;
  margin-right: .75rem;
}

/* Social */
.footer-social-box img {
  height: 2.2rem;
  margin-right: auto;
}

/* Copyright */
.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3.5rem;
}
