.sidebar {
  position: absolute;
  background-color: var(--clr-white);
  top: 0;
  bottom: 0;
  height: 100vh;
  width: 100%;
  z-index: 11;
  transition: transform .4s ease;
  transform: translateX(-100%);
  padding: 1rem;
}

.sidebar .logo a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.visible {
  transform: translateX(0%) !important;
}

/* Sidebar Links */

.sidebar-links {
  margin: 3rem 0;
}

.sidebar-link-card {
  padding: 1.5rem 1rem;
  border-bottom: 1px solid var(--clr-purple);
}

.sidebar-link-card a {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  font-size: 1.5rem;
  transition: all .3s ease;
  font-weight: 600;
}

.sidebar-link-card a:hover {
  gap: 1.8rem;
  color: var(--clr-purple);
  font-weight: 600;
}

.sidebar-link-card a svg {
  width: 2rem;
  height: 2rem;
}

@media screen and (min-width: 900px) {
  .sidebar {
    transform: translateX(-100%) !important;
  }
}