:root {
  --clr-white: #fff;
  --clr-black: #000;
  --clr-purple: #8A00FC;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: var(--clr-black);
  cursor: pointer !important;
}

main {
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 100%;
  max-width: 1300px;
  padding: 0 2rem;
}

@media screen and (min-width: 1300px) {
  .wrapper {
    padding: 0;
  }
}
