@import url(./style/btn.css);
@import url(./style/nav.css);
@import url(./style/footer.css);
@import url(./style/hero.css);
@import url(./style/callToAction.css);
@import url(./style/exclusive.css);
@import url(./style/services.css);
@import url(./style/carousel.css);
@import url(./style/faq.css);
@import url(./style/sidebar.css);
@import url(./style/darkMode.css);
@import url(./style/card_css/card-carousel.css);
@import url(./style/card_css/component-cards.css);
@import url(./style/detailsPage.css);
@import url(./style/contact.css);
@import url(./style/builder.css);
@import url(./style/chat.css);
@import url(./style/infoPcBuilder.css);


@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@300;500;700&display=swap");

:root {
  --clr-white: #fff;
  --clr-black: #000;
  --clr-purple: #a333ff;
  --clr-dark-modeBG: #1a1a1a;
  --clr-color-card-BG: #f5f5f8;
  --clr-dark-mode-card-BG: #131212;
}
#f5f5f8
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Lexend", sans-serif;
}

button {
  cursor: pointer;
  font-family: "Lexend", sans-serif;
}

img {
  max-width: 100%;
}

ol, ul, p {
  padding: 0 !important;
}

a {
  text-decoration: none;
  color: var(--clr-black);
  cursor: pointer !important;
}

section {
  padding: 8rem 0;
}

.wrapper {
  width: 100%;
  max-width: 1300px;
  padding: 0 2rem;
  margin: 0 auto;
}

.center-wrapper {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 1300px) {
  .wrapper {
    padding: 0;
  }
}
